<h1>基础</h1>
<h3>水平布局：</h3>
<nz-card>
    <ng-template #body>
        <nz-sf layout="horizontal"
            [schema]="DATA.horizontal.schema"
            [model]="DATA.horizontal.model"
            [actions]="actions" (onChange)="DATA.horizontal.value=$event.value"></nz-sf>
    </ng-template>
</nz-card>
<h3>垂直布局：</h3>
<nz-card>
    <ng-template #body>
        <nz-sf layout="vertical"
            [schema]="DATA.vertical.schema"
            [model]="DATA.vertical.model"
            [actions]="actions" (onChange)="DATA.vertical.value=$event.value"></nz-sf>
    </ng-template>
</nz-card>
<h3>内联布局：</h3>
<nz-card>
    <ng-template #body>
        <nz-sf layout="inline"
            [schema]="DATA.inline.schema"
            [model]="DATA.inline.model"
            [actions]="actions" (onChange)="DATA.inline.value=$event.value"></nz-sf>
    </ng-template>
</nz-card>
<div ace-editor
    [(text)]="DATA.inline.code"
    [mode]="'json'"
    [theme]="'monokai'"
    [options]="{fontSize: '16px'}"
    style="min-height: 350px; width:100%; overflow: auto; margin: 24px 0;"></div>
