<div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="12">
        <div style="margin: 16px 0;">
            <nz-radio-group [(ngModel)]="layout">
                <label nz-radio-button [nzValue]="'horizontal'">
                    <span>Horizontal</span>
                </label>
                <label nz-radio-button [nzValue]="'vertical'">
                    <span>Vertical</span>
                </label>
                <label nz-radio-button [nzValue]="'inline'">
                    <span>Inline</span>
                </label>
            </nz-radio-group>
            <button nz-button [nzType]="'primary'" (click)="run()" style="margin-left: 8px;">Run</button>
        </div>
        <h1>Schema</h1>
        <div ace-editor
            [(text)]="schemaStr"
            [mode]="'json'"
            [theme]="'monokai'"
            [options]="{fontSize: '16px'}"
            style="min-height: 350px; width:100%; overflow: auto;"></div>
        <h1>Model</h1>
        <div ace-editor
            [(text)]="modelStr"
            [mode]="'json'"
            [theme]="'monokai'"
            [options]="{fontSize: '16px'}"
            style="min-height: 100px; width:100%; overflow: auto;"></div>
        <h1>Actions</h1>
        <div ace-editor
            [(text)]="actionsStr"
            [mode]="'json'"
            [theme]="'monokai'"
            [options]="{fontSize: '16px'}"
            [readOnly]="true"
            style="min-height: 100px; width:100%; overflow: auto;"></div>
    </div>
    <div nz-col [nzSpan]="12">
        <h1>Preview</h1>
        <div style="padding: 8px;">
            <nz-sf *ngIf="schema && model"
                [layout]="layout"
                [schema]="schema"
                [model]="model"
                [actions]="actions"
                (onChange)="value=$event.value"></nz-sf>

            <p style="padding-top: 16px">Result: {{value | json}}</p>
        </div>
    </div>
</div>
